body{
	font-family: Raleway !important;
	letter-spacing: 1px;
	background: #f5f5f5;
}
.paddingZero{
	padding: 0px !important;
}
.marginZero{
	margin: 0px !important;
}
.navbar-inverse{
	background: #3C8DBC !important;
	border-color: #FFFFFF !important;
}
.navbar-brand{
	color: #ffffff !important;
	font-weight: bold;
}
.navbar-inverse .navbar-nav>li>a{
	color: #FFFFFF !important;
	font-weight: bold;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: #F39C12 !important;
	font-weight: bold;
}
.home-main{
	margin-top: 10%;
	margin-bottom: 10%; 
}
.home-section-main{ 
	color: #FFFFFF;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}
.totalQuiz{
	background: #00C0EF; 
}
.todaysQuiz{
	background: #00A65A; 
}
.questions{
	background: #DD4B39; 
}
.members{
	background: #F39C12; 
}
.home-section-main i{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 62px; 
}
.home-section-main h2 a{
	color: #FFFFFF;
	font-size: 28px;
	text-decoration: none; 
}
.home-section-main h2 a:hover{
	color: #777777; 
}
.home-section-main h3{
	color: #000000;
	font-weight: bold;
}
.footer{
	background: #555;
	padding: 10px;
	color: #FFFFFF;
}
.footer a{
	text-decoration: none;
	color: #CCCCCC;
}
.footer a:hover{
	color: #FFFFFF;
}
/*Login form*/
.form-group {
  margin-bottom:10px;
}
.login-box{
	margin: 20px;
	margin-top: 0px;
	background: #CCCCCC;
	padding: 15px;
	color: #FFFFFF;
	border-radius: 7px;
}
.login-logo{
	margin-bottom: 15px;
	margin-top: 10px;
}
.login-box h3{
	text-align: center;
}
.login-box p{
	text-align: center;
}
.login-box label{
}
.login-box button{
	font-weight: 500;
}
/*Quiz*/
.mainContainerQuiz{
	min-height: 500px;
	background: #f5f5f5;
}
.mainSection{
	background: #00C0EF;
	color: #FFFFFF;
	margin-bottom: 0px !important;;
	border-radius: 4px 4px 0px 0px !important;
}
.mainSectionLeft{
	background: #f5f5f5;
	border-radius: 0px 0px 4px 4px;
	margin-top: 25px;
	padding-bottom: 50px;
}
.quizSection{
	margin: 10px 10px 10px 0px;
}
.quizSection a{
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: #333;
}
.quizSection a:hover{
	color: #F39C12;
}
.mainSectionRight{
	background: #FFFFFF;
	padding-bottom: 25px;
}
.mainSectionRight h3{
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: #F39C12;
	padding: 10px 0px;
	text-transform: uppercase;
}
.mainSectionRight p{
	border-bottom: 1px solid #CCCCCC;
}
.mainSectionRight p a{
	text-decoration: none;
	text-transform: capitalize;
	margin: 5px 0px ;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	padding-bottom: 5px;
}
.mainSectionRight p a:hover{
	color: #F39C12;
}
.gads img{
	border: 1px solid #f5f5f5;
}
.questionSection label{
	font-size: 16px;
}
.questionSection input{
	margin-bottom: 10px;
}